# No subir este archivo con claves reales.
WHALE_ALERT_API_KEY=27dc3b56635bccd83c03ca00bccd682d003e52a23a30857357e521e5f4674e73
ARKHAM_API_KEY=
ARKHAM_ADDRESS_URL_TEMPLATE=https://api.arkm.com/intelligence/address/{address}/all
CRYPTOQUANT_API_KEY=
GLASSNODE_API_KEY=
